/**
 * Media Query Styles
 **/

* {
  box-sizing: border-box;
}

/*
  The background color will be #ccc
  at browser widths above 768px
*/
body {
  /* Typography */
  font-size: 18px;
  line-height: 27px;

  /* Visual 
  background-color: #777;
  color: teal;*/
  
  /* Background Image */
  background-image: url("../images/background.jpeg");
  background-color: #cccccc;
  background-size: cover;
  background-repeat: none;
  height: 100vh;
  background-attachment: fixed;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/*
  The width of the wrapper will be 1024px
  at browser widths above 768px
*/
.wrapper {
  /* Box-model */
  width: 1024px;

  /* Positioning */
  margin: 40px auto;
}

/*rotate and size self, height and width are swapped technically*/
.self {
  transform: rotate(90deg);
  height: 242px;
  width: 322px;
}

/* Bootcamp Image */
.bootcamp {
  transform: rotate(180deg);
  height: 300px;
  width: 500px;
}

/* Race Results Image */
.rockandroll {
  height: 300px;
  width: 500px;
}

.skills-tag {
    display: inline-block;
    text-align: left;
    margin: 0 5px 5px 0;
    padding: 0 2px 0 2px;
    border: 1px solid #F1F1F0;
    border-radius: 2px;
}

.projects:hover {
  border: 2px solid dodgerblue;
  transform: scale(1.05);
}

#main-content,
#sidebar {
  /* Box-model */
  width: 500px;
  padding: 30px;
}

#main-content {
  /* Positioning */
  float: left;

  /* Visual */
  /*background: #fff;*/
  font-size: 20px;
  width: 70%;
  margin: 15px;
  font-weight: bolder;
}

#sidebar {
  /* Positioning */
  float: right;

  /* Visual */
  background: #eee;
}

@media screen and (max-width: 768px) {
  body {
    background-color: #333;
  }

  .wrapper {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}

/* Additional Screen Sizes */

/* Width at 320px and below */
@media screen and (max-width: 320px) {
  body {
    background-color: #333;
  }

  .wrapper {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}

/* Width at 168px and below */
@media screen and (max-width: 168px) {
  body {
    background-color: #333;
  }

  .wrapper {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}
